html * {
    margin: 0;
    font-family: normal normal normal 45px/57px Dosis;
  }


  .gfg {
                
    position: relative;
}

.gff {
    width: 100%;
}

.text-container {
    position: absolute;
    color: #E5FEFF;
    left: 25rem;
    top: 7rem;
    right:auto;
    background-color: #000324;
    opacity: 0.8;
    padding: 0 2rem;
 width: 665px;
 height: 175px;
}


.text-containerrr {
  position: absolute;
  color: #E5FEFF;
  left: 25rem;
  top: 7rem;
  right:auto;
  background-color: #000324;
  opacity: 0.8;
  padding: 0 2rem;
width: 665px;
height: 175px;
}



img {
  margin-bottom: 60px;
}
.image-row {
  display: flex;
  justify-content: start;
  justify-content: space-around; 
  
}





.ppp {
  font-size: 10px;
}


.white{
  color: #FFFFFF;
}

.card-image{
  
  width:50%;
}

.customw{
  width:20%;
  background-color: #000324;
  
}

.wrapper{
  padding:20px;
  
}

footer{
  background-color: #000324;
  
}

.valetScale {
  scale: 80%;
}


.valetText{
  text-size-adjust: 20px;
}

.bottomBox{

  width: 120%;
  height: 15%;
  
  background: #000324 0% 0% no-repeat padding-box;
  opacity: 1;
  }



  .resRoomMarPad {
    margin: 6%;
    padding-left: 6%;
    padding-right: 6%;

}

.resRoomBoxMarPad {
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.resRoomBg {
    background-color: #000324;
}

.resRoomImg {
    background-image: url("/media/hamsterreserve.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 10%;
    background-clip: 10%;
}

.resImgInvis {
    opacity: 0;
}

.resBtn {
    border-style: none !important;
    border-radius: 0% !important;
    padding: 3px 50px;
    height: 30px;
}
